In [96]:
import pandas as pd

In [97]:
df = pd.read_csv('tweets_labeled.csv')
df.head()

,tweet_id,text,label
0,1161040537207463936,'RT @SenJeffMerkley: The Endangered Species Ac...,1
1,1176360756239118342,'RT @LindseyGrahamSC: Interesting concept -- i...,1
2,1099036648573145088,'RT @RealJamesWoods: #BuildTheWall #DeportThem...,0
3,1092915693203480577,'RT @PatriotJackiB: Why would the MEXICAN GOV’...,0
4,1149038450668187654,'RT @TheOnion: Sweden Announces Plan To Get 10...,0

# Extracting all  characters long

In [98]:
df['char_count'] = df['text'].apply(len)

# Extracting mention tags

In [99]:
def mention_count(tweet):
    words = tweet.split()
    mentions = [word for word in words if word.startswith('@')]
    return len(mentions)

In [100]:
df['mention_count'] = df['text'].apply(mention_count)

In [101]:
df.head()

,tweet_id,text,label,char_count,mention_count
0,1161040537207463936,'RT @SenJeffMerkley: The Endangered Species Ac...,1,141,1
1,1176360756239118342,'RT @LindseyGrahamSC: Interesting concept -- i...,1,140,1
2,1099036648573145088,'RT @RealJamesWoods: #BuildTheWall #DeportThem...,0,75,1
3,1092915693203480577,'RT @PatriotJackiB: Why would the MEXICAN GOV’...,0,113,1
4,1149038450668187654,'RT @TheOnion: Sweden Announces Plan To Get 10...,0,142,1

# Extracting sentence length(number of words)

In [102]:
from nltk.corpus import stopwords
import string
 
stop = stopwords.words('english')

def words_only_count(tweet):
    words = tweet.split()
    words_only = [word for word in words if word not in stop and
              not word.startswith(('#', '@'))]
    return len(words_only)

In [103]:
df['words_only_count'] = df['text'].apply(words_only_count)

In [104]:
df.head()

,tweet_id,text,label,char_count,mention_count,words_only_count
0,1161040537207463936,'RT @SenJeffMerkley: The Endangered Species Ac...,1,141,1,15
1,1176360756239118342,'RT @LindseyGrahamSC: Interesting concept -- i...,1,140,1,18
2,1099036648573145088,'RT @RealJamesWoods: #BuildTheWall #DeportThem...,0,75,1,2
3,1092915693203480577,'RT @PatriotJackiB: Why would the MEXICAN GOV’...,0,113,1,11
4,1149038450668187654,'RT @TheOnion: Sweden Announces Plan To Get 10...,0,142,1,19

In [105]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\BARAN
[nltk_data]     JOON\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Extracting Readability scores<br>with hashtags & mentions

In [106]:
import textstat
import re

In [107]:
#df['tweet'] = ''.join(re.sub("(@[A-Za-z0–9]+)|([0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",df['text']).split())

In [ ]:
df['flesch_grade']=df['text'].apply(textstat.flesch_reading_ease)

In [ ]:
df.head()