In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('tweets_labeled.csv')
df.head()

,tweet_id,text,label
0,1161040537207463936,'RT @SenJeffMerkley: The Endangered Species Ac...,1
1,1176360756239118342,'RT @LindseyGrahamSC: Interesting concept -- i...,1
2,1099036648573145088,'RT @RealJamesWoods: #BuildTheWall #DeportThem...,0
3,1092915693203480577,'RT @PatriotJackiB: Why would the MEXICAN GOV’...,0
4,1149038450668187654,'RT @TheOnion: Sweden Announces Plan To Get 10...,0

In [51]:
df['text'] = df['text'].str.lower()

def clean(df):
    
    sentence = df['text'].str.replace(r'RT\s', '')
    sentence = sentence.str.replace(r'@\S*?\s', '')
    sentence = sentence.str.replace(r'@\S*?$', '')
    sentence = sentence.str.replace(r'https\S*?\s', ' ')  
    sentence = sentence.str.replace(r'https\S*?$', '')
    sentence = sentence.str.replace('\'', '')
    sentence = sentence.str.replace(r'…', '')
    sentence = sentence.str.replace(r'\s$', '')

    df['text'] = sentence
    return df

In [53]:
clean(df)
df.head()

,tweet_id,text,label
0,1161040537207463936,the endangered species act saved the bald eagl...,1
1,1176360756239118342,"interesting concept -- impeach first, find fac...",1
2,1099036648573145088,#buildthewall #deportthemall,0
3,1092915693203480577,why would the mexican gov’t fund this? who are...,0
4,1149038450668187654,sweden announces plan to get 100% of energy fr...,0

# Extracting all  characters long

In [26]:
df['char_count'] = df['text'].apply(len)

# Extracting mention tags

In [27]:
def mention_count(tweet):
    words = tweet.split()
    mentions = [word for word in words if word.startswith('@')]
    return len(mentions)

In [28]:
df['mention_count'] = df['text'].apply(mention_count)

In [29]:
df.head()

,tweet_id,text,label,char_count,mention_count
0,1161040537207463936,The Endangered Species Act saved the bald eagl...,1,118,0
1,1176360756239118342,"Interesting concept -- impeach first, find fac...",1,116,0
2,1099036648573145088,#BuildTheWall #DeportThemAll,0,28,0
3,1092915693203480577,Why would the MEXICAN GOV’T fund this? Who are...,0,68,0
4,1149038450668187654,Sweden Announces Plan To Get 100% Of Energy Fr...,0,89,0

# Extracting sentence length(number of words)

In [30]:
from nltk.corpus import stopwords
import string
 
stop = stopwords.words('english')

def words_only_count(tweet):
    words = tweet.split()
    words_only = [word for word in words if word not in stop and
              not word.startswith(('#', '@'))]
    return len(words_only)

In [31]:
df['words_only_count'] = df['text'].apply(words_only_count)

In [32]:
df.head()

,tweet_id,text,label,char_count,mention_count,words_only_count
0,1161040537207463936,The Endangered Species Act saved the bald eagl...,1,118,0,13
1,1176360756239118342,"Interesting concept -- impeach first, find fac...",1,116,0,17
2,1099036648573145088,#BuildTheWall #DeportThemAll,0,28,0,0
3,1092915693203480577,Why would the MEXICAN GOV’T fund this? Who are...,0,68,0,9
4,1149038450668187654,Sweden Announces Plan To Get 100% Of Energy Fr...,0,89,0,16

In [33]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\BARAN
[nltk_data]     JOON\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# Extracting Readability scores<br>with hashtags & mentions

In [34]:
import textstat
import re

In [36]:
#df['tweet'] = ''.join(re.sub("(@[A-Za-z0–9]+)|([0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",df['text']).split())

In [37]:
df['flesch_grade']=df['text'].apply(textstat.flesch_reading_ease)

In [38]:
df.head()

,tweet_id,text,label,char_count,mention_count,words_only_count,flesch_grade
0,1161040537207463936,The Endangered Species Act saved the bald eagl...,1,118,0,13,69.28
1,1176360756239118342,"Interesting concept -- impeach first, find fac...",1,116,0,17,45.76
2,1099036648573145088,#BuildTheWall #DeportThemAll,0,28,0,0,-49.00
3,1092915693203480577,Why would the MEXICAN GOV’T fund this? Who are...,0,68,0,9,90.26
4,1149038450668187654,Sweden Announces Plan To Get 100% Of Energy Fr...,0,89,0,16,63.70